.b-popupbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
.b-popupbox__helper {
	display: inline-block;
	margin-right: -0.25em;
	height: 100%;
	content: '';
	vertical-align: middle;
	*display: inline;
	*zoom:1;
}
.b-popupbox__window {
	position: relative;
	z-index: 2;
	display: inline-block;
	overflow: hidden;
	margin: 0 auto;
	padding: 20px;
	min-height: 100px;
	background: #eee;
	vertical-align: middle;
	text-align: left;
	*display: inline;
	*zoom: 1;
	box-shadow: 0 0 3px rgba(0,0,0,0.5)
}
.b-popupbox__overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.b-popupbox__close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	overflow: hidden;
	height: 30px;
	width: 30px;
	background: url(../img/b_popupbox__close.png) no-repeat;
}
.b-popupbox__close:hover {
	background-position: 0 -30px;
}
.b-popupbox__close:active {
	background-position: 0 -60px;
}
